$body-bg: #ebf4f5;
$body-color: #231f20;
$primary: #1F2D4C;
$secondary: #1d383a;
$font-family-sans-serif: 'Cabin', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: 'Roboto Mono', "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;

@import 'node_modules/bootstrap/scss/bootstrap';

.nav-link.active {
    color: black !important;
    font-weight: bold;
}

.customNavLink:first-child {
    padding: 5px 5px 5px 0;
}

.customNavLink:last-child {
    padding: 5px 0 5px 5px;
}

.insightCard {
    margin-bottom: 20px;
}
